            body {
                margin: 0;
            }
            
            #wrapper {
                overflow-x: hidden;
                height: 100vh;
                display: flex;
                justify-content: center;
            }
            
            table {
                margin: auto;
                display: block;
                position: absolute;
                margin-top: 50px;
                border-collapse: collapse;
            }
            
            thead {
                background-color: #343A40;
                color: #fff;
            }
            
            th,
            td {
                width: 100px;
                height: 40px;
                text-align: center;
                vertical-align: middle;
                border: 1px solid #c5c5c5;
            }
            
            tr>th {
                background-color: #343A40;
            }
            
            tr {
                background-color: #43494E;
                color: #fff;
            }
            
            tr:nth-child(even) {
                background-color: #343A40;
            }
            
            tbody>tr:hover {
                background-color: rgb(243, 243, 243);
                color: rgb(31, 34, 36);
            }
            
            tbody {
                overflow-y: auto;
                height: 420px;
                display: block;
            }
            
            .modal-container {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #7b797959;
                display: none;
            }
            
            .modal-dialog {
                background: #fff;
                width: 60%;
                margin: auto;
                margin-top: 50px;
                padding: 10px;
            }
            
            .btn {
                margin: 10px 5px;
                color: white;
                background-color: #7FD323;
                border-radius: 5px;
                border: 1px solid #959595;
                padding: 10px;
            }