.cover {
    margin: auto;
    margin-top: 100px;
    width: 50%;
    background-color: white;
    border: 2px solid #959595;
}

.box_verify {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inner_box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn {
    margin: 10px 5px;
    color: white;
    background-color: #7FD323;
    border-radius: 5px;
    border: 1px solid #959595;
    padding: 10px;
}

input {
    width: 10%;
    height: 30px;
    text-align: center;
    background-color: #F9F9F9;
    padding: 10px;
    border: 1px solid #959595;
}