.cover {
    margin: auto;
    height: 200px;
    width: 50%;
    background-color: antiquewhite;
}

.box_verify {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.inner_box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

input {
    width: 10%;
    height: 30px;
    text-align: center;
}

button {
    background-color: burlywood;
    height: 30px;
    border: 0;
}